th,
td {
  border-bottom: 1px solid #5e5f63 !important;
}

/* .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
}

.css-1wuilmg-MuiAutocomplete-root
  .MuiOutlinedInput-root
  .MuiAutocomplete-input {
  color: white !important;
}

.css-i4bv87-MuiSvgIcon-root {
  color: white !important;
} */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
th {
  height: 50px !important;
}

.css-1dsahoe-MuiTable-root {
  height: 18rem !important;
}
